* {
  margin: 0;
  padding: 0;
  max-width: none;
  font-family: Source Sans Pro, sans-serif;
}

header {
  height: 100vh;
}

.hero-section {
  background-image: url("https://nodeschool.io/images/test-bg.png ");
  background-size: 25%;
  background-position: 0 -100px;
  background-color: #ffe51f;
  background-blend-mode: multiply;
  z-index: -1;
}

img {
  width: 400px;
  position: relative;
  display: block;
  margin: 0 auto;
  padding-right: 20px;
  overflow-clip-margin: content-box;
  overflow: clip;
}

h1 {
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.languages {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding: 5px 20px;
  text-align: right;
}

.lang {
  margin-left: 5px;
}

a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #333;
}

a:hover {
  color: #666;
}

.title-container {
  padding: 100px 40px;
}

.description-container {
  clear: both;
  padding: 60px 250px;
  text-align: center;
}

.description {
  font-size: 1.5rem;
  line-height: 1.4;
}
